.DS_Store
*.tmp
*.tmp.obo
*.tmp.owl
bin/
catalog-v001.xml
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/nbo-base.owl
src/ontology/nbo.obo
src/ontology/nbo.owl
src/ontology/patterns 
src/ontology/seed.txt
src/ontology/target/
src/patterns/imports/seed_sorted.txt
src/ontology/tmp
src/ontology/nbo-*.owl
src/ontology/imports/*_terms_combined.txt
